body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.jumbotron {
  background-color: lavender;
  font-weight: bold;
}

footer {
  background-color: lavender;
  text-align: center;
  font-size: large;
}

#map,
body,
html {
  height: 100%;
}

#quakemap,
body,
html {
  height: 100%;
}


/* Set Legend Style */
.info {
  padding: 1px 10px;
  background: #ebfae2;
  border-radius: 5px;
}

.legend {
  line-height: 25px;
  color: #000000;
}

.legend i {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.75;
}
